body {
    font-family: Arial;
}

header {
    margin-top: 30px
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
    font-family: Georgia;
    font-size: 65px
}

#menu {
    margin: 15px
    padding: 10px;
    text-align: center;
    border: 8px solid white;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-variant: small-caps;
}

footer {
    margin-top: 8px
    margin-bottom: 100px;
    text-align: center;
    border: 3px solid #DDD;
    border-radius: 8px;
    padding: 8px;
    font-family: Georgia;
    background-color: black;
    color: white;
    font-variant: small-caps;
    height: 100px;
    clear: both;
}
    
 #main-content{
    margin-top: 8px
    margin-bottom: 100px;
    text-align: center;
    border: 3px solid #DDD;
    border-radius: 8px;
    padding: 20px;
    height: 800px;
}

 #sidebar{
    margin-top: 8px
    margin-bottom: 100px;
    text-align: center;
    border: 3px solid #DDD;
    border-radius: 8px;
    padding: 20px;
    min-height: 500px;
}

#submit{
    margin-top: 8px
    margin-bottom: 100px;  
}

#iframe{
    height: 200px
    width: 300px
}

.links a {
    display: inline-block;
    margin: 10px;
}
.links a:hover {
color: white
font-weight:bold;
text-decoration:underline;

}


.P{
    text-align: center;
    background: black;
    color: red;
    font-family: helvetica;
}
